.modal-content {
    background-image: url("https://c8.alamy.com/compit/bx0t3n/libro-magico-di-storie-di-fantasia-bx0t3n.jpg");
    background-size: cover; 
    background-position: center; 
    color:rgb(170, 124, 8);
  }